# Database Configuration
POSTGRES_USER=directus
POSTGRES_PASSWORD=change_me
POSTGRES_DB=directus

# Directus Configuration
KEY=change_me
SECRET=change_me

# Database configuration
DB_DATABASE=directus
DB_USER=directus
DB_PASSWORD=change_me

# Admin user configuration
ADMIN_EMAIL=your_email@example.com
ADMIN_PASSWORD=change_me

# Exposing to public
PUBLIC_URL=https://your_directus_instance.dev/

# when using the reverse proxy mentioned in docker-compose.yml
VIRTUAL_HOST=your_directus_instance.dev
VIRTUAL_PORT=8055
LETSENCRYPT_HOST=your_directus_instance.dev
LETSENCRYPT_EMAIL=your_email@example.com

# Optional: Add here any placeholders or comments for other environment variables needed.
