@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --ring: 222.2 84% 4.9%;

    --background-rgb: #ffffff;
    --foreground-rgb: #020817;

    --muted-rgb: #f1f5f9;
    --muted-foreground-rgb: #64748b;

    --popover-rgb: #ffffff;
    --popover-foreground-rgb: #020817;

    --card-rgb: #ffffff;
    --card-foreground-rgb: #020817;

    --border-rgb: #e2e8f0;
    --input-rgb: #e2e8f0;

    --primary-rgb: #0f172a;
    --primary-foreground-rgb: #f8fafc;

    --secondary-rgb: #f1f5f9;
    --secondary-foreground-rgb: #0f172a;

    --accent-rgb: #f1f5f9;
    --accent-foreground-rgb: #0f172a;

    --destructive-rgb: #ef4444;
    --destructive-foreground-rgb: #f8fafc;

    --ring-rgb: #020817;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --ring: 212.7 26.8% 83.9%;

    --background-rgb: #020817;
    --foreground-rgb: #f8fafc;

    --muted-rgb: #1e293b;
    --muted-foreground-rgb: #94a3b8;

    --popover-rgb: #020817;
    --popover-foreground-rgb: #f8fafc;

    --card-rgb: #020817;
    --card-foreground-rgb: #f8fafc;

    --border-rgb: #1e293b;
    --input-rgb: #1e293b;

    --primary-rgb: #f8fafc;
    --primary-foreground-rgb: #0f172a;

    --secondary-rgb: #1e293b;
    --secondary-foreground-rgb: #f8fafc;

    --accent-rgb: #1e293b;
    --accent-foreground-rgb: #f8fafc;

    --destructive-rgb: #7f1d1d;
    --destructive-foreground-rgb: #f8fafc;

    --ring-rgb: #cbd5e1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.fc-scroller.fc-scroller-liquid-absolute {

}
::-webkit-scrollbar {
  height: 1rem;
  width: 0.5rem;
}

::-webkit-scrollbar:horizontal {
  height: 0.5rem;
  width: 1rem;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: hsla(0, 0%, 89%, 0.8);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-thumb:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(227, 227, 227, var(--tw-bg-opacity));
}

@media (min-width: 768px) {
  .scrollbar-trigger ::-webkit-scrollbar-thumb {
    visibility: hidden;
  }

  .scrollbar-trigger:hover ::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}
