{% layout "base-de" %} {% block content %}

<h1>Setzen Sie Ihr {{projectName}}-Passwort zurück</h1>

<p style="padding-bottom: 30px">
  Wir haben eine Anfrage erhalten, das Passwort für Ihr
  <i>{{ projectName }}</i>-Konto zurückzusetzen. Falls Sie diese Änderung nicht veranlasst haben, wenden Sie sich bitte
  an einen Ihrer Administratoren. Andernfalls klicken Sie auf den folgenden Link, um Ihre E-Mail-Adresse zu bestätigen und Ihr neues Passwort einzugeben.
</p>

<a
  class="button"
  rel="noopener"
  target="_blank"
  href="{{url}}"
  style="
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 11px 24px;
    border-radius: 8px;
    background: #171717;
    border: 1px solid #ffffff;
  "
>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%; mso-text-raise: 30pt"
      >&nbsp;</i
    >
  <![endif]-->
  <span style="mso-text-raise: 15pt">Passwort zurücksetzen</span>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%">&nbsp;</i>
  <![endif]-->
</a>

<p style="padding-top: 30px">Wichtig: Dieser Link läuft in 24 Stunden ab.</p>

{% endblock %}