{% layout 'base-de' %} {% block content %}

<h1>Bestätigen Sie Ihre E-Mail-Adresse</h1>

<p style='padding-bottom: 30px'>
  Vielen Dank für Ihre Registrierung bei <i>{{ projectName }}</i>.
  Um Ihre Registrierung abzuschließen, müssen Sie Ihre E-Mail-Adresse bestätigen, indem Sie den folgenden Bestätigungslink öffnen.
  Bitte ignorieren Sie diese E-Mail, wenn Sie die Registrierung nicht persönlich eingeleitet haben.
</p>

<a
  class='button'
  rel='noopener'
  target='_blank'
  href='{{url}}'
  style='
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    padding: 11px 24px;
    border-radius: 8px;
    background: #171717;
    border: 1px solid #ffffff;
  '
>
  <!--[if mso]>
    <i style="letter-spacing: 25px; mso-font-width: -100%; mso-text-raise: 30pt"
      >&nbsp;</i
    >
  <![endif]-->
  <span style='mso-text-raise: 15pt'>E-Mail bestätigen</span>
  <!--[if mso]> <i style="letter-spacing: 25px; mso-font-width: -100%">&nbsp;</i> <![endif]-->
</a>

{% endblock %}